@font-face {
    font-family: 'Montserrat-Regular';
    src: local("Montserrat-Regular"),
    url('../src/fonts/Montserrat/Montserrat-Regular.woff') format("woff"),
    url('../src/fonts/Montserrat/Montserrat-Regular.eot') format("eot");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: local("Montserrat-Medium"),
    url('../src/fonts/Montserrat/Montserrat-Medium.woff') format("woff"),
    url('../src/fonts/Montserrat/Montserrat-Medium.eot') format("eot");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: local("Montserrat-SemiBold"),
    url('../src/fonts/Montserrat/Montserrat-SemiBold.woff') format("woff"),
    url('../src/fonts/Montserrat/Montserrat-SemiBold.eot') format("eot");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree-Medium';
    src: local("Figtree-Medium"),
    url('../src/fonts/Figtree/Figtree-Medium.woff') format("woff"),
    url('../src/fonts/Figtree/Figtree-Medium.eot') format("eot");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: local("Poppins-Light"),
    url('../src/fonts/Poppins/Poppins-Light.woff') format("woff"),
    url('../src/fonts/Poppins/Poppins-Light.eot') format("eot");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local("Poppins-Regular"),
    url('../src/fonts/Poppins/Poppins-Regular.woff') format("woff"),
    url('../src/fonts/Poppins/Poppins-Regular.eot') format("eot");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: local("Poppins-SemiBold"),
    url('../src/fonts/Poppins/Poppins-SemiBold.woff') format("woff"),
    url('../src/fonts/Poppins/Poppins-SemiBold.eot') format("eot");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #F6FCFF;
    overflow-x: hidden;
}

.container {
    z-index: 4;
    width: 1660px;
    margin: 0 auto;
    position: relative;
}

.page__header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 40px;
}

.page-header__logo {
    width: 126px;
    height: 109.62px;
    flex-shrink: 0;
}

.page-header__nav {
    width: 80%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 44px;
}

.main-nav__sections {
    text-decoration: none;
    color: #404448;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.main-nav__sections.pharmacists {
    width: 165px;
}

.main-nav__sections.providers {
    width: 135px;
}

.main-nav__sections.patients {
    width: 128px;
}

.main-nav__sections.employers {
    width: 149px;
}

.main-nav__sections.partners {
    width: 203px;
}

.main-nav__sections.contact {
    width: 81px;
}

.button-mobile-container {
    display: none;
}

.mobile-button__img {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}

.button-container {
    border-radius: 50px;
    background: #0F5174;
    display: flex;
    padding: 13px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

.button-container__button {
    color: #FFF;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.vectors_container {
    flex-shrink: 0;
    opacity: 0.3;
}

.vectors_container--right {
    transform: rotate(-90deg);
}

.vectors_container--left {
    transform: rotate(90deg);
}

.vectors__container--mobile-top {
    display: none;
}

.vectors__container--mobile-bottom {
    display: none;
}

.vectors__images {
    position: absolute;
    z-index: -1;
}

.vectors__images--right {
    right: 0;
    top: 0;
}

.vectors__images--left {
    top: 1300px;
}

.page-header {
    color: #054569;
    text-align: center;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: capitalize;
}

h1.page-header {
    margin: 88px 0 122px 0;
}

.content {
    width: 100%;
}

.content__container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
    padding: 100px;
}

.content__section {
    display: flex;
    width: calc(50% - 10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content__header {
    width: 100%;
    color: #054569;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: capitalize;
}

.content__img {
    width: calc(50% - 10px);
    border-radius: 0 50px;
}

.content__img img {
    width: 100%;
}

.characteristics {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
    margin-bottom: 180px;
    width: 100%;
}

.characteristics__blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.blocks__item {
    display: flex;
    width: 540px;
    padding: 20px 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    background: #E7F5FF;
}

.blocks__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.blocks__container--inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
}

.blocks__img {
    width: 50px;
    height: 50px;
    fill: #054569;
}

.blocks__container__header {
    color: #054569;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 25px;
    font-style: normal;
    line-height: normal;
}

.articles-text {
    color: #054569;
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    line-height: normal;
}

.articles-text--large {
    font-size: 20px;
}

.articles-text--normal {
    font-size: 18px;
}

.footer-container {
    width: 100%;
    flex-shrink: 0;
    background: #054569;
}

.footer-container--inner {
    display: flex;
    width: 100%;
    gap: 147px;
    align-items: center;
    justify-content: center;
}

.footer-container__powered-by {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    height: 40vh;
}

.powered-by__images {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 48px;
}

.powered-by__digital-logo {
    width: 139px;
    height: 118px;
    background: url('../src/logo/digital_health_logo.png');
}

.powered-by__logo {
    width: 91px;
    height: 79px;
    background: url('../src/logo/powerByImg.png');
}

.powered-by__address {
    color: #FFF;
    font-style: normal;
}

.powered-by__address--normal {
    font-family: 'Montserrat-Regular', sans-serif;
    line-height: 176.291%;
    font-size: 16px;
}

.powered-by__address--bold {
    font-family: 'Montserrat-SemiBold', sans-serif;
    line-height: 160.023%;
    font-size: 18px;
}

.footer-container__downloads {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 44px;
    width: 46%;
}

.downloads__icare-logo {
    width: 110px;
    height: 118px;
    background: url('../src/logo/iCare_logo.png');
}

.downloads__icare-logo--mobile {
    display: none;
}

.downloads__apps-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    width: 353px;
}

.apps__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25.943px;
}

.apps__text {
    color: #E2E3E8;
    font-family: 'Figtree-Medium', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.apps__text--mobile {
    display: none;
}

.apps__links {
    display: flex;
    width: 100%;
    padding: 0px 30.608px;
    align-items: center;
    justify-content: center;
    gap: 6.869px;
    border-radius: 20.608px;
    background: #195376;
    position: relative;
}

.round-logo {
    width: 24.477px;
    height: 24.477px;
    position: absolute;
    left: 4.152px;
    top: 8.293px;
    border-radius: 50%;
    background-size: 50%;
}

.apps__links__apple-logo {
    background: lightgray url('../src/logo/free_icon_apple.png') no-repeat center;
}

.apps__links span {
    color: #FFF;
    font-style: normal;
    line-height: normal;
}

.apps__links--light {
    font-family: 'Poppins-Light', sans-serif;
    font-size: 10.304px;
    font-weight: 300;
}

.apps__links--bold {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 13.739px;
    font-weight: 400;
}

.apps__links__android-logo {
    background: lightgray url('../src/logo/android_logo.png') no-repeat center;
}

.footer-container__terms {
    width: 100%;
    height: 15vh;
    background: rgba(105, 140, 169, 0.20);
    position: relative;
}

.terms__text-block {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: calc(55% - 130px);
    width: 100%;
}

.terms__text-block--first {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
}

.terms__text-block--second {
    width: 100%;
}

.terms_text {
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.terms__text-block__pipe {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.85);
}

.text-with-img__content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.text-with-img {
    padding: 87px 0;
}

@media (max-width: 1024px) {
    .text-with-img__content {
        flex-direction: column;
    }

    .text-with-img__content h2, .text-with-img__content article {
        text-align: center;
    }

    .content__section, .content__img {
        width: 100%;
    }

    .footer-container--inner {
        margin-bottom: 10vw;
        margin-top: 10vw;
    }

    .apps__links--bold {
        font-size: 12px;
    }

    .apps__container {
        flex-wrap: wrap;
    }
}

@media (max-width: 1750px) {
    .container {
        width: 1300px;
    }
}

@media (max-width: 1440px) {
    .container {
        width: 1126px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 870px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 648px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
        padding: 0 30px;
    }

    .page-header__logo {
        width: 88px;
        height: 77px;
        flex-shrink: 0;
    }

    .page__header {
        justify-content: space-between;
    }

    .page-header__nav {
        display: none;
    }

    .button-container:not(.button-container--block) {
        display: none;
    }

    .button-mobile-container {
        display: block;
    }

    .page-header {
        font-size: 35px;
    }

    h1.page-header {
        width: 100%;
        margin: 61px 0 37px 0;
    }

    .vectors_container--right {
        display: none;
    }

    .vectors_container--left {
        display: none;
    }

    [class*="vectors__container--mobile"] {
        display: block;
        position: absolute;
    }

    .vectors__images--mobile-top {
        top: 0;
        right: calc((-100vw) + 5px);
    }

    .vectors__images--mobile-bottom {
        top: calc(100vh + 1500px);
        left: 0;
    }

    .vectors__images--right {
        display: none;
    }

    .vectors__images--left {
        display: none;
    }

    .content__header {
        font-size: 25px;
    }

    .text-with-img {
        padding: 35px 0;
    }

    .articles-text--large {
        font-size: 18px;
    }

    .text-with-img__content {
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 80px;
    }

    .text-with-img__content h2, .text-with-img__content article {
        text-align: left;
        width: 100%;
    }

    .content__img {
        width: calc(100% - 10px);
        border-radius: 0 50px;
    }

    .characteristics {
        align-items: center;
        justify-content: center;
        gap: 55px;
        margin-bottom: 155px;
    }

    .characteristics__blocks {
        align-items: flex-start;
        gap: 30px;
    }

    .blocks__item {
        width: 100%;
        padding: 20px 18px;
        align-items: center;
        justify-content: center;
    }

    .blocks__container {
        flex-direction: column;
        gap: 10px;
    }

    .blocks__container__header {
        font-size: 20px;
    }

    .articles-text--normal {
        font-size: 16px;
    }

    .button-container {
        width: 80%;
    }

    .footer-container {
        width: 100%;
    }

    .footer-container--inner {
        flex-direction: column;
        width: 100%;
        gap: 77px;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 50px;
    }

    .footer-container__powered-by {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
        height: 60vh;
    }

    .powered-by__images {
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
    }

    .powered-by__address {
        width: 70%;
    }

    .footer-container__downloads {
        gap: 5%;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .downloads--mobile {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .downloads__icare-logo--desktop {
        display: none;
    }

    .downloads__icare-logo--mobile {
        display: block;
    }

    .downloads__apps-container {
        justify-content: center;
        width: 100%;
    }

    .apps__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 50%;
    }

    .apps__text--desktop {
        display: none;
    }

    .apps__text--mobile {
        display: flex;
    }

    .apps__text {
        font-size: 22px;
    }

    .apps__links {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 20.608px;
    }

    .round-logo {
        width: 22.173px;
        height: 22.173px;
        left: 8.152px;
        top: 7.293px;
        background-size: 70%;
    }

    .terms__text-block {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        margin-left: 30px;
    }

    .terms__text-block--first {
        display: flex;
        justify-content: flex-start;
        gap: 6px;
    }

    .terms_text {
        font-size: 14px;
    }
}